apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph
  namespace: storage 
spec:
  interval: 30m
  chart:
    spec:
      chart: rook-ceph
      version: "v1.18.8"
      sourceRef:
        kind: HelmRepository
        name: rook
        namespace: flux-system
      interval: 12h
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: -1 # keep trying to remediate
    crds: CreateReplace # Upgrade CRDs on package update
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
  namespace: storage 
spec:
  chart:
    spec:
      chart: rook-ceph-cluster
      version: "v1.18.8"
      sourceRef:
        kind: HelmRepository
        name: rook
        namespace: flux-system
  interval: 30m
  timeout: 10m
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: -1 # keep trying to remediate
    crds: CreateReplace # Upgrade CRDs on package update
  releaseName: rook-ceph-cluster
  valuesFrom:
    - kind: ConfigMap
      name: rook-ceph-cluster-helm-values
      valuesKey: values.yaml
