---
# APT
- name: Update packages and make sure cache has been refreshed
  ansible.builtin.apt:
    update_cache: true
    autoremove: true
    upgrade: safe
- name: Install unattended-upgrades package 
  ansible.builtin.apt:
    name: unattended-upgrades
    state: present
- name: Copy unattented-upgrades configuration files
  ansible.builtin.copy:
    src: "{{ role_path }}/files/{{ item }}"
    dest: "/etc/apt/apt.conf.d/{{ item }}"
    owner: root
    group: root
    mode: 0644
  with_items:
    - 10periodic
    - 50unattended-upgrades

# User
- name: Add Ansible user account
  ansible.builtin.user:
    name: ansible
    shell: /bin/bash
    groups: sudo
    append: true
- name: Add personal user account
  ansible.builtin.user:
    name: vdeborger
    shell: /bin/bash
    groups: sudo
    append: true
- name: Add authorized key for created users
  ansible.posix.authorized_key:
    user: "{{ item }}"
    state: present
    key: "{{ lookup('file', '/home/vdeborger/.ssh/id_ed25519.pub') }}"
  with_items:
    - ansible
    - vdeborger

# SSH Hardening
- name: Backup original SSH configuration
  ansible.builtin.copy:
    src: /etc/ssh/ssh_config
    dest: /etc/ssh/ssh_config.bak
- name: Ensure SSH configuration directories are empty
  ansible.builtin.file:
    state: absent
    path: "{{ item }}"
  with_items:
    - /etc/ssh/ssh_config.d
    - /etc/ssh/sshd_config.d
- name: Recreate configuration directories for future use
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
  with_items:
    - /etc/ssh/ssh_config.d
    - /etc/ssh/sshd_config.d
- name: Copy hardened configuration to target machine
  ansible.builtin.copy:
    src: "{{ role_path }}/files/sshd_config"
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: 0644
  notify: "Reload SSH"

# Misc
- name: Set the timezone to Europe/Brussels
  ansible.builtin.file:
    src: /usr/share/zoneinfo/Europe/Brussels 
    dest: /etc/localtime
    owner: root
    group: root
    state: link
- name: Clean up apt cache
  ansible.builtin.apt:
    autoclean: yes
- name: Shutdown machine in 1 minute
  ansible.builtin.command: /sbin/shutdown -h +1
