[Unit]
Description=Remove user at startup

[Service]
Type=oneshot
ExecStart=/usr/local/bin/remove_user.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
