Include /etc/ssh/sshd_config.d/*.conf
Protocol 2

LoginGraceTime	20
PermitRootLogin no
MaxAuthTries	  3

PasswordAuthentication		      no
PermitEmptyPasswords        		no
KbdInteractiveAuthentication  	no
ChallengeResponseAuthentication no
KerberosAuthentication		      no
GSSAPIAuthentication		        no

UsePAM yes

AllowAgentForwarding	no
AllowTcpForwarding	  no
X11Forwarding		      no

PermitUserEnvironment	no
PermitTunnel		      no

PrintMotd	no
Banner		none

AcceptEnv 	LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
