apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mayastor
  namespace: storage
spec:
  interval: 30m
  chart:
    spec:
      chart: mayastor
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: openebs
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: mayastor-helm-values
      valuesKey: values.yaml
